.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.container > img{
    width: 140px;
    object-fit: cover;
    border-radius: 10px;
}
.container__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card--red{
    color: red;
}

.card--black{
    color: black;
    font-weight: bold;
}
